.selfie {
    display: flex;
    justify-content: center;
}

.selfie .btn {
    cursor: pointer;
    border: solid 1px white;
    border-radius: 9999px;
    padding: 1em;
}

.selfie .btn svg.lexicon-icon {
    height: 36px;
    width: 36px;
    fill: white;
}

.selfie .btn:hover {
    background-color: rgb(255,255,255,0.4);
}

.selfie .cam, .selfie .preview {
    position: relative;
}

.selfie .preview-img {
    display: block;
}

.selfie .capture-btn {
    position: absolute;
    bottom: 9px;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    background: none;
}

.selfie .video-player {
    display: block;
}

.selfie .btn-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
}

.selfie .back-btn, 
.selfie .download-btn {
    margin-left: 25px;
    margin-bottom: 9px;
    background-color: transparent;
}

.selfie .download-btn {
    margin-left: 25px;
}